#custom-container-fluid-header {
    background-image: url(../images/img-2-1.png);
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    position: relative;
}

#top-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: .75);
    width: 100%;
}

.news {
    // box-shadow: inset 0 -15px 30px rgba(255, 0, 0, 0.8), 0 5px 10px rgba(0, 0, 0, 0.5);
    width: auto;
    height: 35px;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 4px;
    padding: 3px;
    -webkit-user-select: none;
    user-select: none;
}

.news span {
    float: right;
    color: #fff;
    padding: 6px;
    position: relative;
    top: -3px;
    left: -5px;
    border-radius: 4px;
    // box-shadow: inset 0 -15px 30px rgba(255, 0, 0, .8);
    font: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    cursor: pointer;
}

.news ul {
    float: right;
    overflow-x: hidden;
    animation: ticker 10s cubic-bezier(1, 0, .1, 0) infinite;
    -webkit-user-select: none;
}

.news ul li {
    line-height: 30px;
    list-style: none;
    overflow-x: hidden;

}

.news ul li a {
    color: #fff;
    text-decoration: none;
    font: 14px;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
}

.news ul:hover {
    animation-play-state: paused;
}

.news span:hover+ul {
    animation-play-state: paused;
}

@keyframes ticker {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: -30px;
    }

    50% {
        margin-top: -60px;
    }

    75% {
        margin-top: -90px;
    }

    100% {
        margin-top: 0;
    }
}

#social-container-header {
    position: absolute;
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

.social-media-header {
    width: 35px;
    padding-top: 5px;
    padding-left: 10px;
    user-select: none;
    -webkit-user-select: none;
}

.social-media-header:hover {
    opacity: 0.5;
}

#custom-navbar-header {
    background-color: rgba($color: #000000, $alpha: 0.75);
    margin-top: 35px;
    user-select: none;
    -webkit-user-select: none;

}

.link-navbar-header {
    color: #fff !important;
    font-size: 15px;
}

.link-navbar-header:hover {
    opacity: 0.5;
}

#profile-header {
    width: 32px;
    border-radius: 50%;
}

#navbarDropdown-2 {
    padding: 0;
}

.bgcolo-ul-header {
    background-color: rgba($color: #000000, $alpha: .75);
    border-radius: 0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.hover-link-dropdown:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.4);
}

#span-profile {
    padding-right: 5px;
}

#setting-list-item-header {
    margin-left: 20px;
    list-style: none;
}

.no-hover-link-dropdown {
    &:hover {
        background-color: transparent;
    }
}

.icons-img-header {
    margin-left: 5px;
    width: 28px;
}

.list-style-li-header {
    list-style: none;
}

#megamenu-dropdown {
    width: 100%;
    margin-top: -1px;
}

.anchor-megamenu-border-radius {
    border-radius: 25px;
    background-color: rgba($color: #fff, $alpha: .3);
}

.arrow-down-header {
    width: 20px;
}

.li-item-megamenu {
    list-style: none;
}

.ul-item-megamenu {
    padding: 0;
}

#header-top-text {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 100px;
    text-align: center;
}

#header-bottom-text {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

#container-searchbox-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#searchbox-header {
    width: 50%;
    height: 45px;
    border-radius: 25px;
    background: #fff;
    border: 1px solid #4b4b4b;
    padding: 10px 20px 10px 40px;
    outline: none;
    color: #4b4b4b;

    &::placeholder {
        font-size: 14px;
    }
}

#container-icon-search-header {
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    left: 40px;
    top: -12px;
}

#search-img-header {
    width: 24px;
    height: 24px;
    position: absolute;
}


#anchor-btn-signin {
    width: 200%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin: 10px 0;
}

#anchor-btn-signin>p {
    background: #ece8e1;
    color: #0f1923;
}

#anchor-btn-signin>p span.base {
    border: 1px solid transparent;
}

#container-signin-login {
    display: flex;
    flex: row;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    z-index: -5;
    margin-bottom: 50px;
}

#anchor-btn-signin p {
    margin: 0;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    font-size: 16px;
}

div a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff4655;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.5s ease-out all;
    transform: skewX(-10deg);
}

div a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


div a:hover {
    color: #ece8e1;
}

div a:hover span.bg {
    width: 110%;
}

#container-section-bottom-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 20px;
}

.section-bottom-header {
    display: flex;
    flex-direction: row;
}

.img-section-bottom-header {
    width: 120px;
}

.cotainer-p-bottom-header {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 0 15px;
}

.p-section-top-header {
    font-family: IranSansBold;
    font-size: 18px;
}

.p-section-bottom-header {
    font-size: 16px;
}

.anchor-section-bottom-header {
    &:hover {
        color: #000000;
    }
}

#container-meta-section {
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.img-meta-section {
    padding: 0 25px 0 5px;
}

.span-meta-section {
    color: #fff;
}

.container-name-section-content {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
}

.name-section-content {
    font-size: 18px;
    font-family: $font-IranSansBold;
}

.line-section-content {
    display: flex;
    height: 5px;
    margin: 10px 20px 0 15px;
    background-color: $color-red;
    width: 60%;
    align-items: center;
    border-radius: 25px;
}

.container-full-packages {
    display: flex;
    flex-direction: row;

    &:hover {
        color: #000;
        cursor: pointer;
    }

    &:hover>.img-arrow-full-packages {
        margin-right: 15px;
    }
}

.img-arrow-full-packages {
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-right: 10px;
}

.link-section-content {
    &:hover {
        color: #000;
    }
}

.container-card {
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
    max-width: 290px;

    &:hover {
        box-shadow: inset 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
    }
}

.img-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 180px;
}

.title-card {
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

.container-items-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 25px;

}

.img-teacher-card {
    width: 19px;
    height: auto;
    margin-left: 3px;
}

.container-time-payment-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.span-item-card {
    font-size: 13px;
}

.container-time-payment-card {
    margin-top: 20px;
}

.time-p-card {
    color: $color-red;
    font-size: 14px;
}

.payment-card {
    color: $color-green;
    font-size: 15px;
}

.anchor-cards {
    &:hover {
        color: #000;
    }
}

.container-cards {
    display: flex;
    flex-direction: column;
}

#line-section-content-blue {
    background-color: $color_green;
}

#line-section-content-yellow {
    background-color: $color_gray;
}

.container-card-article {
    margin: 30px 0 30px 0;
    border-radius: 10px;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
    height: 380px;

    &:hover {
        box-shadow: inset 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
    }
}

.title-card-article {
    font-size: 16px;
    font-family: $font-IranSansBold;
    text-align: center;
    margin: 10px auto 20px auto;
}

.p-card-article {
    font-size: 14px;
    text-align: center;
}

.container-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.span-item-card-article {
    color: $color-red;
}

#footer {
    margin-top: 20px;
    height: auto;
    background-color: $color-dark-blue;
}

#container-title-footer {
    margin: 35px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-info-footer {
    font-size: 17px;
    color: $color_light;
    font-family: $font-IranSansBold;
    margin-bottom: 15px;
}

#title-p-footer {
    font-size: 15px;
    color: $color_light;
}

#container-newsletters-footer {
    margin: 35px -20px 0 0;
    display: flex;
    flex-direction: column;
}

#newsletters-footer-email {
    border: none;
    border-bottom: 1px solid $color_light;
    outline: none;
    text-align: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    height: 35px;

    &::placeholder {
        font-size: 14px;
    }
}

#newsletters-footer-number {
    border: none;
    border-bottom: 1px solid $color_light;
    outline: none;
    text-align: center;
    height: 35px;

    &::placeholder {
        font-size: 14px;
    }
}

#newsletters-footer-submit {
    border: none;
    outline: none;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 35px;
    font-size: 14px;
    background-color: $color-green;
}

#container-app-footer {
    padding: 25px 30px 0 0;
}

.img-app-footer {
    width: 160px;
    margin-right: 20px;
    margin-top: 10px;
}

#container-footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#container-copyright-footer {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

#p-copyright-footer {
    color: $color-light;
    font-size: 14px;
}

#container-social-footer {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.img-social-footer {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

#hero {
    width: 100%;
    background: url("../../img/BaseImg/hero-bg.jpg");
    position: relative;
    padding: 0px 0 0 0;
    z-index: 0;
}

#hero:before {
    content: "";
    background: #153248;
    /* insert a background color */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero {
        padding-top: 0px;
    }

    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }

    #hero .hero-img {
        text-align: center;
    }

    #hero .hero-img img {
        max-width: 50%;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.hero-waves {
    display: block;
    margin-top: 0px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}