:root{
    --color-red: #d71920;
	--color-light-red:#eb3233;
	--color-green:#82bc03;
	--color-gray:#5c546b;
	--color-dark-blue:#153248;
	--color-yellow:#ede622;
}

@font-face {
    font-family: Sahel;
    src: url(../fonts/Sahel.ttf);
    font-weight: 400
}

@font-face {
    font-family: IranSansBold;
    src: url(../fonts/IRANSans-Bold.ttf);
    font-weight: 400
}

@font-face {
    font-family: IranSans;
    src: url(../fonts/IRANSans.ttf);
    font-weight: 400
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: IranSans, tahoma;
    background-color: #fafafa;
    direction: rtl;
    max-width: 100vw;
    overflow-x: hidden
}

a {
    text-decoration: none;
    color: #000
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    appearance: textfield;
    -webkit-appearance: textfield
}

/*		start header	*/

#custom-container-fluid-header{
	background-image:url(../images/img-2-1.png);
	height:auto;
	background-size:cover;
	background-position:center;
	background-repeat:repeat-y;
	position:relative;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#custom-navbar-header {
    background-color: rgba(0, 0, 0, 0.75);
    user-select: none;
    -webkit-user-select: none
}

.link-navbar-header {
    color: #fff !important;
    font-size: 15px
}

.nav-link-home:hover {
    opacity: 0.5;
}

.link-navbar-header:hover {
    opacity: .5;
}

#profile-header {
    width: 32px;
    border-radius: 50%
}

#navbarDropdown-2 {
    padding: 0
}

.bgcolo-ul-header {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px
}

.hover-link-dropdown:hover {
    background-color: rgba(255, 255, 255, 0.4)
}

#span-profile {
    padding-right: 5px
}

#setting-list-item-header {
    margin-left: 20px;
    list-style: none
}

.no-hover-link-dropdown:hover {
    background-color: transparent
}

.list-style-li-header {
    list-style: none
}

#megamenu-dropdown {
    width: 100%;
    margin-top: -1px;
}

.anchor-megamenu-border-radius {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3)
}

.arrow-down-header {
    width: 20px
}

.li-item-megamenu {
    list-style: none
}

.ul-item-megamenu {
    padding: 0
}

.ul-header-profile {
    margin-right: -2rem;
}

.arow-down-item-magamenu{
    color: #fff;
    font-size: 2rem;
}

.icons-header{
    font-size: 1.8rem;
}

.icons-header-li{
    font-size: 1.6rem;
    margin-bottom: -5px;
	margin-left: 5px;
}

/*		end header		*/

/*		start body		*/

#main-container{
	margin-top: 2rem;
}

#head-title{
	font-size: 1.5rem;
	font-family: IranSansBold;
	margin-bottom: 1.5rem;
	
}

.breadcrumb-item+.breadcrumb-item::before {
    transform: rotate(180deg);
    margin-right: -5px;
	margin-left: 8px;
}

.condition-course{
	margin-top: 2rem;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 10px;
	padding: 1.5rem 1.5rem;
}

.container-info-aside{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.price-course{
	display: flex;
	justify-content: center;
}

#text-price{
	font-size: 1rem;
	font-family: Sahel;
	margin-left: 0.5rem;
}

#value-price{
	font-size: 1.2rem;
	color: #50b826;
	font-family: IranSansBold;
}

.line-aside{
	width: 100%;
	height: 1px;
	background-color: #ddd;
	border-radius: 25px;
	margin: 1rem 0;
}

.container-title-line-aside{
	display: flex;
	flex-direction: row;
}

.icon-title-aside{
	margin: 2px 0 0 0.4rem;
	color: var(--color-gray);
}

.paragraph-info-aside{
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.value-info-aside{
	font-size: 14px;
	font-family: IranSansBold;
	margin: 0.2rem 0 0 0;
	padding: 0;
	color: var(--color-gray);
}

.state-course{
	color: #50b826;
}

#container-register-course{
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.icon-register{
	font-size: 1.3rem;
	margin-bottom: -4px;
	color: #fff;
	margin-left: 0.5rem;
}

#btn-register-course{
	border: none;
	outline: none;
	background-color: transparent;
	background-color: #50b826;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	transition: box-shadow 0.5s;
}

#btn-register-course:hover{
	box-shadow: none;
}

#container-profile-teacher{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#img-info-teacher{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#container-name-job-teacher{
	margin: 0 1rem 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#container-img-name-job-teacher{
	display: flex;
	flex-direction: row;
}

#name-info-teacher{
	font-size: 1.1rem;
	font-family: IranSansBold;
}

#job-info-teacher{
	font-family: sahel;
	color: var(--color-gray);
	font-size: 0.9rem;
	text-align: left;
}

#container-profile-job{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -15px;
	text-align: left;
}

#profile-info-teacher{
	color: var(--color-red);
	font-family: sahel;
}

#cv-info-teacher{
	color: #50b826;
	font-family: sahel;
}

.container-info-teacher{
	margin-top: 2rem;
}

.container-line-info-line{
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.title-info-teacher{
	position: absolute;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 0 10px;
	color: #333;
	font-size: 15px;
}

.line-info-aside{
	width: 100%;
	height: 1px;
	background-color: #ccc;
	border-radius: 25px;
}

.paragraph-info-teacher{
	font-size: 14px;
	color: var(--color-gray);
	margin: 1.8rem 0.5rem 0;
	text-align: center;
}

.margin-container-line-info-line{
	margin: 2rem 0 2rem;
}

.listitem-courses-teacher{
	margin-bottom: 0.5rem;
	list-style-type: circle;
}

.anchor-courses-teacher{
	font-size: 14.5px;
	color: #222;
	transition: all 0.2s;
}

.anchor-courses-teacher:hover{
	color: #50b826;
}

.condition-course-mb{
	padding-bottom: 12px !important;
}

#container-share-media{
	display: flex;
	justify-content: space-between;
}

#text-share-media{
	font-size: 14px;
	font-family: IranSansBold;
}

#container-icons-share-social{
	display: flex;
}

.container-icon-share-social{
	width: 32px;
	height: 32px;
	background-color: transparent;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 50%;
	margin: -7.5px 0.5rem 0 0;
	transition: all 0.2s;
}

.container-icon-share-social:hover{
	box-shadow: 0 0 10px var(--color-red);
	opacity: 0.8;
}

.icon-share-social{
	font-size: 20.5px;
	color: #444;
	margin: 6px 7px 0 0;
	transition: all 0.2s;
}

.container-icon-share-social:hover .icon-share-social{
	color: var(--color-red);
}


.icon-telegram-share{
	margin: 6px 8.5px 0 0;
}

.icon-whatsapp-share{
	margin: 6px 7px 0 0;
}

#container-view-comment-number{
	display: flex;
	justify-content: center;
	margin-bottom: 1.3rem;
}

#view-aside{
	display: flex;
	margin-left: 1.3rem;
}

#comment-aside{
	display: flex;
	margin-right: 1.6rem;	
}

#line-y-aside{
	width: 1px;
	height: 25px;
	background-color: #ccc;
	border-radius: 25px;
}

.icon-view-comment-number{
	font-size: 20px;
	color: #555;
	margin-left: 0.5rem;
}

.paragraph-view-comment-number{
	color: #444;
	font-size: 0.9rem;
}

































/*		end body		*/

/*		start footer		*/

#footer {
    margin-top: 20px;
    height: auto;
    background-color: #153248
}

#container-title-footer {
    margin: 35px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#title-info-footer {
    font-size: 17px;
    color: #c7c7c7;
    font-family: IranSansBold, tahoma;
    margin-bottom: 15px
}

#title-p-footer {
    font-size: 15px;
    color: #c7c7c7
}

#container-newsletters-footer {
    margin: 35px -20px 0 0;
    display: flex;
    flex-direction: column
}

#newsletters-footer-email {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    outline: none;
    text-align: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    height: 35px
}

#newsletters-footer-email::placeholder {
    font-size: 14px
}

#newsletters-footer-number {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    outline: none;
    text-align: center;
    height: 35px
}

#newsletters-footer-number::placeholder {
    font-size: 14px
}

#newsletters-footer-submit {
    border: none;
    outline: none;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 35px;
    font-size: 14px;
    background-color: #82bc03
}

#container-app-footer {
    padding: 25px 30px 0 0
}

.img-app-footer {
    width: 160px;
    margin-right: 20px;
    margin-top: 10px
}

#container-footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: row
}

#container-copyright-footer {
    margin-top: 35px;
    display: flex;
    justify-content: center
}

#p-copyright-footer {
    color: #c7c7c7;
    font-size: 14px
}

#container-social-footer {
    margin-top: 35px;
    display: flex;
    justify-content: center
}

.img-social-footer {
    width: 28px;
    height: 28px;
    margin-right: 10px
}

#hero {
    width: 100%;
    background: url(../../img/BaseImg/hero-bg.jpg);
    position: relative;
    padding: 0;
    z-index: 0
}

#hero:before {
    content: "";
    background: #153248;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both
}

/*		end footer		*/

/*		start responsive		*/

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed
    }
}

@media (max-width: 991px) {
    #hero {
        padding-top: 0
    }
    #hero .animated {
        animation: none
    }
    #hero .hero-img {
        text-align: center
    }
    #hero .hero-img img {
        max-width: 50%
    }
    #hero h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(-10px)
    }
}

.hero-waves {
    display: block;
    margin-top: 0;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative
}

.wave1 use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s
}

.wave2 use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s
}

.wave3 use {
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%)
    }
    100% {
        transform: translate(-90px, 0%)
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%)
    }
    100% {
        transform: translate(85px, 0%)
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%)
    }
    100% {
        transform: translate(85px, 0%)
    }
}

@media screen and (max-width: 768px) {
    #news-span {
        display: none
    }
    #social-container-header {
        width: 46%
    }
    .arrow-down-header {
        width: 12px
    }
    #container-section-bottom-header {
        display: none
    }
    .section-bottom-header {
        padding-bottom: 20px
    }
    #container-meta-section {
        display: none
    }
    .container-name-section-content {
        margin-top: 20px
    }
    #container-title-footer {
        display: flex;
        flex-direction: column;
        margin: 35px 40px 0 0
    }
    #title-info-footer {
        text-align: center
    }
    #title-p-footer {
        text-align: center
    }
    #container-newsletters-footer {
        margin: 35px 0 0;
        width: 100%;
        display: flex;
        justify-content: center
    }
}

@media screen and (max-width: 576px) {
    #social-container-header {
        display: none
    }
    .container-full-packages {
        display: none
    }
    .chat-display-item-none {
        display: none
    }
}

@media screen and (max-width: 992px) {
    #meta-section-article {
        display: none
    }
}

@media screen and (max-width: 1200px) {
    #meta-section-teacher {
        display: none
    }
    #section-bottom-header-video {
        display: none
    }
    .container-name-section-content {
        display: flex;
        justify-content: space-between
    }
    .line-section-content {
        display: none
    }
}

/*		end responsive		*/