@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: IranSans;
    src: url("../fonts/IRANSans.ttf");
    font-weight: normal;
}

* {
    font-family: IranSans;
}

#main-container {
    width: 100%;
    height: 100vh;
    background-image: url(../images/login-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    background-size: cover;
}

#row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar-img {
    width: 125px;
    height: 100px;
    margin: -255px 0px;
    position: absolute;
    z-index: 1;
}

#container-form {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

#form {
    display: flex;
    flex-direction: column;
}

#title-heading {
    margin-top: 75px;
    margin-bottom: 10px;
    color: #7BC5ED;
    text-align: center;
    font-size: 26px;
}

.label-input {
    color: aliceblue;
    padding: 15px 10px 7px 10px;
    font-size: 15px;
}

.inputs {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #1c64b0;
    margin: 0 10px;
    padding: 5px 10px;
    color: aliceblue;
    text-align: left;
}

.inputs:focus{
    border-bottom: 2px solid #7BC5ED;

}

.inputs::placeholder {
    color: rgb(155, 155, 155);
}

#container-submit {
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit {
    margin-top: 35px;
    margin-bottom: 25px;
    width: 95%;
    background-color: #1c64b0;
    border: none;
    outline: none;
    border-radius: 25px;
    height: 38px;
    color: aliceblue;
    font-size: 16px;
    animation: all 1s linear;
    transition: all .5s;
}

#submit:hover {
    background-color: #7BC5ED;
    color: #000;
    transition: all .5s;
}

.anchor-form {
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    padding-bottom: 25px;
    font-size: 15px;
}

.anchor-form:hover {
    color: #7BC5ED;
    transition: all .5s;

}
